/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/config/parameters.yml
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/bin/
/composer.phar
/vendor/
/web/bundles/
src/Dai/PublicBundle/Resources/public/compass/.sass-cache/
/src/Dai/PortfolioBundle/Resources/public/js/node_modules
/src/Dai/PublicBundle/Resources/public/js/node_modules
