<!DOCTYPE html>
<html>
<head>
    <title>
        {% block title %}
            Dai Gondo
        {% endblock %}

    </title>

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">

    {% stylesheets filter='cssrewrite'
      '@DaiPublicBundle/Resources/public/js/node_modules/bootstrap/dist/css/bootstrap.min.css'
      '@DaiPublicBundle/Resources/public/css/animate.css'
      '@DaiPublicBundle/Resources/public/css/style.css' %}
      <link rel="stylesheet" href="{{ asset_url }}" type="text/css" />
    {% endstylesheets %}

    <link href='http://fonts.googleapis.com/css?family=Nunito' rel='stylesheet' type='text/css'>
    <style>
        body {
            font-family: Futura, 'Nunito', sans-serif;
        }
    </style>
</head>
<body>

    {% block content %}
    {% endblock %}

    {% javascripts '@DaiPublicBundle/Resources/public/js/bundle.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}

    {% block javascripts %}        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
        <script type="text/javascript" src="{{ asset('bundles/daipublic/js/viewport.js') }}"></script>
        <script type="text/javascript">
            $(document).ready(function() {
                $('.introduction__picture, .introdcution__paragraph__animate, .introdcution__title__animate').addClass("hid").viewportChecker({
                    classToAdd: 'vis animated fadeInUp',
                    offset: 50
                });
            });
        </script>
    {% endblock %}

</body>
</html>