{% extends 'DaiPublicBundle::layout.html.twig' %}

{% block content %}
    <section class="container-fluid site-content">
        <div class="block-center">
            <h1>Biographie</h1>
            <p>
                Je découvre au collège la magie des couleurs primaires en cours d arts plastiques et n’aurais de cesse de laisser de côté cette passion, préoccupée par l’organisation pratique du quotidien.<br />
                Pourtant comme un fil rouge, un fil d’Ariane ou un fil à la patte, la peinture ne m’abandonne jamais et gagne du terrain  en souterrain.<br /><br />
                Chaque rencontre de personnes est un tableau à peindre, les joues rondes d’un enfant, le creux des rides d’un vieillard, les bandes de jeunes, les bébés dans leur poussette, l ‘homme d’affaires, le couple sur la plage…
            </p>
        </div>
    </section>

{% endblock %}
