{% extends "DaiPortfolioBundle::layout.html.twig" %}

{% block title %}
    Delete this work - {{ parent() }}
{% endblock %}


{% block content %}

    <div class="container">
        <div class="col-md-6 col-md-offset-2">
            <div class="page-header">
                <h2>Supprimer la peinture</h2>
            </div>
            <div class="text-center">
                <div class="alert alert-info">
                    Êtes vous sur de voiloir supprimer "{{ work.title }}" ?
                </div>

                <form action="{{ path('dai_work_delete', {'id': work.id}) }}" method="post">
                    <input type="submit" value="Oui" class="btn btn-danger" />
                    {{ form_rest(form) }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
